@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #473E66;
}

header {
    background-color: #06142E;
    padding: 2em 0;
    width: 100%;
    height: 14vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: crang;
    src: url('fontes/Crang.ttf') format('truetype');
    font-weight: normal;
}

#titulo-principal {
    color: #FFFFFF;
    text-align: center;
    font-family: crang;
    font-size: 3em;
    font-weight: normal;
}

@font-face {
    font-family: upheaval;
    src: url('/fontes/Upheaval.ttf') format('truetype');
    font-weight: normal;
}

#explicacao {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    margin-top: 6em;
    padding: 0 20em;
}

label {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input[type="number"] {
    width: 11vw;
    height: 2.5vh;
}

#guessField {
    border-radius: 15px;
    box-shadow: 0.2em 0.2em 0.1em 0.1em #32324e;
}

.guessSubmit {
    margin-top: 1.4vh;
    color: #FFFFFF;
    background-color: #06142E;
    border-color: #06142E;
    border-radius: 15px;
    border-style: hidden;
    padding: 0.7em;
    box-shadow: 0.2em 0.2em 0.1em 0.1em #32324e;
}

.resultParas {
    text-align: center;
    color: white;
}

.guesses {
    padding-top: 0.7em;
}

.lastResult {
    padding: 0.01em;
    margin: 0 920px;
    margin-bottom: 5px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #06142E;
    border-color: #06142E;
    border-radius: 15px;
    border-style: hidden;
    padding: 0.7em;
    box-shadow: 0.2em 0.2em 0.1em 0.1em #32324e;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #06142E;
    color: #FFF;
    width: 100%;
    height: 24vh;    
    text-align: center;
    line-height: 100px;
}

.fa-brands {
    color: #ffffff;
    padding: 0 0.20vw;
}